# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#out folder
out
listing
Listing
Objects
listings
Listings

#MDK project file
JLinkLog.txt
JLinkSettings.ini
*.build_log.htm
*.uvguix.*
*_uvoptx.bak
*_uvprojx.bak
*.dep
*.uvoptx
*.*.bak


ProjectTemplate
